<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caliz</title>
    <%-include ('partials/estilo.html'); %>
</head>
<body>
    <%-include ('partials/navigation.html'); %>
    <h1>Felicidades funciona lo más básico de Node</h1>
    <%= 5+5 %>
    <a href="/otra">Redirección</a><br>
    <h3>Imagen cargada desde la carpeta public:</h3><br>
    <img src="/img/hapy.jpeg" alt="Perrito de la Victoria">
    <h1>Hola ben adivinas quien soy? </h1>
    <h1>:)</h1>
</body>
</html>