<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista 2</title>
    <%-include ('partials/estilo.html'); %>
</head>
<body>
    <%-include ('partials/navigation.html'); %>
    <h1>Ya puedes ver otra vista</h1>
    <h2>Variables:</h2>
    <h4>Cargada dinámica: <%= dinamico%></h4>
</body>
</html>